// Import Global Variables
@import '../../../styles/variables';

.c-footer {
  padding: $small-margin;

  .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 0;

    a {
      display: block;
    }
    .footnote {
      font-size: $font-size-xsmall;
    }
  }

  .footer-link-section {
    display: flex;
    justify-content: space-between;
  }

  .sdg-logo {
    max-height: 70px;
    max-width: 200px;
    svg {
      max-height: 70px;
      max-width: 200px;
    }
  }

  .rw-logo {
    height: 50%;
    width: 50%;
  }
  .vizz-logo {
    display: flex;
    align-items: center;
    svg {
      width: 89px;
      height: 21px;
      fill: #64d1b8;
    }
  }
}
