// Import Global Variables
@import '../../../styles/variables';

.c-footer {
  padding: $small-margin;

  .footer-wrapper {
    max-width: 71rem;
    margin: 0 auto;
  }

  .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;

    a {
      display: block;
    }
  }

  .sdg-logo {
    width: 213px;
  }
  .vizz-logo svg{
    width: 89px;
    fill: #64d1b8;
  }
}
