<div class="c-footer">
  <div class="row">
    <div class="column small-12">
      <ul class="footer-links">
        <div class="footer-link-section">
          <li>
            <a href="http://www.data4sdgs.org/" target="_blank">
              <icon-component name="logo-global-partnership" class="sdg-logo"></icon-component>
            </a>
          </li>
        </div>
        <li>
          <a href="http://www.vizzuality.com/" target="_blank">
            <icon-component name="icon-vizz" class="vizz-logo"></icon-component>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
