<div class="c-footer">
  <div class="footer-wrapper">
    <partners-carousel></partners-carousel>
    <ul class="footer-links">
      <li>
        <a href="http://www.data4sdgs.org/" target="_blank">
          <img src="/static/logos/global_partnership_sdg.jpg" class="sdg-logo">
        </a>
      </li>
      <li>
        <a href="http://www.vizzuality.com/" target="_blank">
          <icon-component name="icon-vizz" class="vizz-logo"></icon-component>
        </a>
      </li>
    </ul>
  </div>
</div>
