
@font-face {
  font-family: 'bebas-neue';
  src: url('../fonts/bebas-neue/BebasNeue-Regular.otf') format('opentype')
}

@font-face {
  font-family: 'proxima-nova';
  src: url('../fonts/proxima-nova/proxima_nova_reg.woff2') format('woff2'),
  url('../fonts/proxima-nova/proxima_nova_reg.woff') format('woff');
}

@font-face {
  font-family: 'proxima-nova-extrabold';
  src: url('../fonts/proxima-nova/proximanova-extrabold.woff2') format('woff2'),
  url('../fonts/proxima-nova/proximanova-extrabold.woff') format('woff');
}

@font-face {
  font-family: 'proxima-nova-semibold';
  src: url('../fonts/proxima-nova/proxima_nova_semi_bold.woff') format('woff');
}
