// Colors
$black: #212020;
$grayed-black: #292929;
$white: #FFFFFF;
$mexican-pink: #FF0065;
$dark-grey: #2F2F2F;
$gold-yellow: #EFA600;
$grey: #F3F3F3;

$pink-gradient: linear-gradient(to bottom, #ff0064, #ff0085);

// Fonts
$heading-font-family: "bebas-neue", sans-serif;
$heading-font-color: $grayed-black;

$h1-font-size: rem(64);
$h2-font-size: rem(44);
$h3-font-size: rem(35);
$h4-font-size: rem(23);

// General Settings
$base-font-family: "proxima-nova", Helvetica, Arial, sans-serif;
$base-font-size: rem(18);
$base-line-height: 1.7;

$base-bg-color: $white;
$base-font-color: $dark-grey;

$inverse-bg-color: $grayed-black;
$inverse-font-color: $white;

// Borders
$border-1: solid 2px $grey;
// Links and Buttons
$link-font-color: $gold-yellow;

// App Palette
$primary-color: $mexican-pink;
$secondary-color: $black;
$third-color: $grey;

// Margins
$small-margin: 18px;
$medium-margin: 32px;
$large-margin: 80px;

// Sizes
$max-width: rem(1136);
$footer-height: 10vh;
// Breakpoints

// Media Queries
