// Import global variables
@import '../../../styles/variables';

.c-console {

  .editor-header {
    display: flex;
    justify-content: space-between;
  }

  .data-link {
    margin-bottom: rem(5);

    .c-icon {
      margin-right: rem(8);
    }

    svg {
      fill: rgba(69, 69, 69, 0.5);
    }

    a {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      color: rgba(69, 69, 69, 0.5);
      text-transform: none;
      font-size: rem(16);
      font-family: $base-font-family;
    }
  }

  .tab-panel {
    display: flex;
    justify-content: flex-start;

    .tab {
      background-color: #454545;
      height: 30px;
      width: 150px;
      color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: rem(12);
      font-weight: 600;
      position: relative;
      border-radius: 5px 5px 0 0;
      margin-left: rem(16);
      z-index: 1;
      cursor: pointer;

      &:before {
        content: "";
        width: 20px;
        height: 40px;
        transform: rotate(30deg);
        position: absolute;
        top: 1px;
        left: -9px;
        border-radius: 5px;
        background-color: #454545;
      }

      &:after {
        content: "";
        width: 20px;
        height: 40px;
        transform: rotate(-30deg);
        position: absolute;
        top: 1px;
        right: -9px;
        border-radius: 5px;
        background-color: #454545;
      }

      &.active {
        background-color: #212024;
        z-index: 2;
        &:before,
        &:after {
          background-color: #212024;
        }
      }
    }
  }

  .console {
    width: 100%;
    min-height: 45vh;
    background-color: $theme-alternative;
    border-radius: 10px;
    padding: $small-margin;
    z-index: 3;
    position: relative;

    &.has-tabs {
      border-radius: 2px 10px 10px 10px;
    }

    .tab-bar {
      margin-bottom: $small-margin;
      height: 30px;
      padding: 0 $small-margin;

      .tab-bar-pill {
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        padding: 5px 10px;
        margin-right: ($small-margin / 2);

        color: $theme-base;
        font-weight: $font-weight-bold;
        min-width: 46px;
        border-radius: 16px;
        text-transform: uppercase;
        font-size: rem(12);

        cursor: pointer;

        &.-active {
          background-color: $gold-yellow;
          color: inherit;

          &:hover {
            opacity: 1;
            cursor: default;
          }
        }

        &:hover {
          opacity: 0.4;
        }
      }
    }

    .console-content {
      width: 100%;
      height: rem(300);
      color: $theme-base;
      font-weight: $font-weight-bold;
      padding: 0 $small-margin;
      font-size: $font-size-xsmall;
      line-height: 18px;

      overflow: overlay;

      pre, code {
        font-family: Menlo, monospace;
      }

      .hljs {
        background-color: $theme-alternative;
      }
    }
  }
}
