// Import global variables
@import '../../../styles/variables';

.c-console {
  .editor-header {
    display: flex;
    justify-content: space-between;
  }

  .data-link {
    margin-bottom: rem(5);

    .c-icon {
      margin-right: rem(8);
    }

    svg {
      fill: rgba(69, 69, 69, 0.5);
    }

    a {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      color: rgba(69, 69, 69, 0.5);
      text-transform: none;
      font-size: rem(16);
      font-family: $base-font-family;
    }
  }

  .console {
    width: 100%;
    min-height: 45vh;
    background-color: $theme-alternative;
    border-radius: 10px;
    padding: $small-margin;
    position: relative;

    .tab-bar {
      margin-bottom: $small-margin;
      height: 30px;
      padding: 0 $small-margin;

      .tab-bar-pill {
        display: flex;
        align-items: center;
        justify-content: center;
        float: left;
        padding: 5px 10px;
        margin-right: ($small-margin / 2);

        color: $theme-base;
        font-weight: $font-weight-bold;
        min-width: 46px;
        border-radius: 16px;
        text-transform: uppercase;
        font-size: rem(12);

        cursor: pointer;

        &.-active {
          background-color: $gold-yellow;
          color: inherit;

          &:hover {
            opacity: 1;
            cursor: default;
          }
        }

        &:hover {
          opacity: 0.4;
        }
      }
    }

    .console-content {
      width: 100%;
      height: rem(300);
      color: $theme-base;
      font-weight: $font-weight-bold;
      padding: 0 $small-margin;
      font-size: $font-size-xsmall;
      line-height: 18px;
      overflow: auto;

      pre, code {
        margin: 0;
        font-family: Menlo, monospace;
        white-space: pre-wrap;
      }

      .hljs {
        background-color: $theme-alternative;
      }
    }
  }
}
