<div class="c-visualization l-visualization">
  <!-- <header class="visualization-header">
    <router-link to="/" class="header-logo">
      <img :src="d4sdgLogo">
    </router-link>
    <h2 class="header-title">Forests in conflict</h2>
  </header> -->
  <!-- <button @click="toggleModal" class="share-button" type="button">
    <icon-component class="-small" name="icon-share"></icon-component>
  </button> -->
  <sidebar-component></sidebar-component>
  <map-component></map-component>
  <map-footer-component></map-footer-component>
</div>
