<div class="c-visualization l-visualization">
  <header class="visualization-header">
    <router-link to="/" class="header-logo">
      <img :src="d4sdgLogo">
    </router-link>
  </header>
  <sidebar-component></sidebar-component>
  <map-component></map-component>
  <map-footer-component></map-footer-component>

  <modal-component :open="openModal" :close="closeModal">
    <div class="row expanded">
      <div class="column small-12 align-middle flex">
        {{modalContent}}
      </div>
    </div>
  </modal-component>
</div>
