<div class="c-visualization l-visualization">
  <header class="visualization-header">
    <router-link to="/" class="header-logo">
      <img :src="d4sdgLogo">
    </router-link>
    <h2 class="header-title">Forests in conflict</h2>
  </header>
  <sidebar-component></sidebar-component>
  <map-component></map-component>
  <map-footer-component></map-footer-component>

  <modal-component :open="openModal" :close="closeModal">
    <div class="row expanded">
      <div class="column small-12 align-middle flex">
        <p v-if="modalType.share">Share component</p>
        <p v-if="modalType.about">No data available</p>
        <p v-else>No data available</p>
      </div>
    </div>
  </modal-component>
</div>
