<div class="c-header">
  <div class="row align-top">
    <div class="columns small-6 medium-2">
      <router-link to="/" class="header-logo">
        <img :src="d4sdgLogo">
      </router-link>
    </div>

    <div class="columns small-6 medium-3 medium-offset-7">
      <nav>
        <ul>
          <li>
            <router-link to="/about">About Us</router-link>
          </li>
          <li>
            <router-link to="/playground">Playground</router-link>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
