<div class="c-header">
  <div class="row align-top align-justify">
    <div class="columns small-4 medium-2 medium-offset-1">
      <router-link to="/" class="header-logo">
        <img :src="d4sdgLogo">
      </router-link>
    </div>

    <div class="columns small-5 medium-4 medium-offset-5">
      <nav>
        <ul>
          <router-link active-class="-active" class="header-tab" tag="li" to="/" exact>
            <a>About Us</a>
          </router-link>

          <router-link active-class="-active" class="header-tab" tag="li" to="/playground">
            <a>Playground</a>
          </router-link>

          <router-link active-class="-active" class="header-tab" tag="li" to="/countries">
            <a>Countries</a>
          </router-link>

          <router-link active-class="-active" class="header-tab" tag="li" to="/map">
            <a>Map</a>
          </router-link>
        </ul>
      </nav>
    </div>
  </div>
</div>
