// Import global variables
@import '../../../styles/variables';

.c-header{

  padding: $medium-margin;
  a {
    color: inherit;
  }

  .header-logo {
    position: absolute;
    transform: translate(-96px, 0);

    @media (max-width: 1330px) {
      transform: translate(0, 0);
    }
  }

  .header-tab {
    height: $small-margin * 2;
    position: relative;

    &.-active {

      &:after {
        position: absolute;
        content: '';
        width: 22px;
        height: 4px;
        background-color: $theme-accent;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
      }
    }
  }


}
