// Import global variables
@import '../../../styles/variables';

.c-header{
  a {
    color: inherit;
  }

  .header-section {
    &.-lead {
      padding: $medium-margin 0;
      .header-wrapper {
        justify-content: space-between;
      }
    }
    &.-secondary {
      padding: 14px 0;
      display: none;
      .header-wrapper {
        justify-content: flex-end;
      }
    }
    .-over & {
      &.-lead {
        padding-top: rem(18);
        padding-bottom: rem(18);
      }
      &.-secondary {
        display: block;
        background-color: rgba(0, 0, 0, .7);
      }
    }
  }

  .header-wrapper {
    max-width: 71rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}

/*
  Nav Component
*/

.nav {
  // Primary
  &.-primary {
    a {
      padding: 20px 0;
      display: block;
    }
    li {
      color: rgba(#222, 0.6);
      position: relative;
      margin-left: 50px;
      overflow: hidden;

      &:hover {
        color: $theme-blue;
      }
      &.-active {
        pointer-events: none;
        color: $theme-blue;
      }
    }
  }
  // Secondary
  &.-secondary {
    ul {
      margin: 0;
    }
    li {
      padding: 0 30px;
      border-right: 1px solid rgba(255, 255, 255, .6);
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        padding-right: 0;
        border-right: none;
      }
      &.-active {
        pointer-events: none;
        a {
          color: $theme-accent;
        }
      }
    }
    a {
      display: block;
      text-transform: none;
      font-size: 16px;
      letter-spacing: .4px;
      transition: opacity linear .1s;
      &:not(.-disabled):hover {
        opacity: .66;
      }
      &.-disabled {
        pointer-events: none;
      }
    }
  }
}
