<div :class="styles">

  <div class="row" v-if="location.home">
    <div class="column small-11 medium-6 small-offset-1 medium-offset-1 hero-home-content">
      <h2>Transform data on SDGs into effective applications</h2>
      <div class="c-button-group">
        <button-component class="-bordered -big" :click="goToFindOutMore">Find Out More</button-component>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column small-12 medium-10 hero-app-content" v-if="!location.home">
      <search-component></search-component>
    </div>
  </div>

</div>
