<aside class="c-sidebar">
  <multiselect
   placeholder="Select a country"
   :close-on-select="true"
   :selected="selected"
   :options="options"
   @input="onChange"
  >
  </multiselect>
  <ul class="c-legend">
    <li class="legend-item">
      <div class="switch">
        <input type="checkbox" name="forests" @click="toggleLayer">
        <span class="toggle"></span>
      </div>
      Confirmed Deforestation Areas
    </li>

    <li class="legend-item">
      <div class="switch">
        <input type="checkbox" name="protected" @click="toggleLayer">
        <span class="toggle"></span>
      </div>
      Protected Areas
    </li>

    <li class="legend-item">
      <div class="switch -hidden">
        <input type="checkbox" name="alerts" @click="toggleLayer">
        <span class="toggle"></span>
      </div>
      Deforestation Alerts
    </li>
    <spinner-component :loading="layerLoading" :overlay="true" class="-absolute"></spinner-component>
  </ul>
</aside>
