@import '../../../styles/variables';

.c-sidebar {
  background-color: $white;
  position: absolute;
  width: 333px;
  padding: 30px;
  top: 190px;
  left: $visualization-padding-side;
  z-index: 101;
  box-shadow: 5px 0 2px 0 rgba(0, 0, 0, 0.2);

  // Overriding multiselect styles
  .multiselect {
    border: solid 1px rgba(0, 0, 0, 0.5);
  }
  .multiselect__tags {
    padding: 15px 39px 15px 25px;
  }
  .multiselect__select {
    margin: auto;
    top: 0;
    bottom: 0;
    &:before {
      border-color: $black transparent transparent;
    }
  }
  .multiselect__input {
    font-size: $font-size-small;
    margin-bottom: 0;
    &::placeholder {
      color: $black;
    }
  }
}

.c-legend {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;
}

.legend-item {
  display: flex;
  align-items: center;
  font-size: $font-size-xsmall;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  .switch {
    position: relative;
    display: flex;
    margin-right: rem(15);
    width: rem(30);
    height: rem(14);
    margin-bottom: rem(3);
    background-color: $grey;
    border-radius: rem(8);

    &.-hidden {
      visibility: hidden;
    }

    &.-active {
      background-color: $mexican-pink;

      .toggle {
        left: auto;
        right: rem(1);
      }
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 2;
      cursor: pointer;
    }

    .toggle {
      position: absolute;
      top: rem(1);
      left: rem(1);
      display: inline-block;
      width: rem(12);
      height: rem(12);
      background-color: $white;
      border-radius: 50%;
      transition: all .5s ease-in;
    }
  }
}
