// Import global variables
@import '../../../styles/variables';

.c-button {
  font-size: $font-size-xsmall;
  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  color: $button-font-color;

  padding: $small-margin;
  border-radius: 2px;

  outline: none;

  &.-filled {
    background-color: $theme-accent;
    font-weight: $font-weight-bold;
    &.-alternative {
      background-color: $theme-alternative;
    }
  }

  &.-full {
    width: 100%;
  }

  &.-bordered {
    border: solid 1px $theme-base;
  }

  &.-big {
    width: 245px;
  }

  &.-small {
    width: 196px;
  }

  &:active {
    opacity: 0.7;
  }

  &:hover {
    color: darken($button-font-color, 12.5%);
  }

  &.-white {
    color: $white;
  }

  &.-dark {
    border-color: $theme-blue;
    color: $theme-blue;
  }
}
