// Import global variables
@import '../../../styles/variables';

.c-button {
  font-size: $font-size-xsmall;
  text-transform: uppercase;
  text-align: center;

  background-color: transparent;
  color: $button-font-color;

  padding: $small-margin;
  border-radius: 2px;

  outline: none;

  &.-filled {
    color: $theme-base;
    background-color: #354283;

    &:hover {
      color: $theme-base;
      background-color: #435198;
    }
    &.-alternative {
      background-color: $theme-alternative;
    }
  }

  &.-dismiss {
    color: $theme-base;
    background-color: #a0a0a0;
  }

  &.-full {
    width: 100%;
  }

  &.-bordered {
    border: solid 1px $theme-base;
  }

  &.-big {
    width: 245px;
  }

  &.-small {
    width: 196px;
  }

  &:active {
    opacity: 0.7;
  }

  &:hover {
    color: darken($button-font-color, 12.5%);
  }

  &.-white {
    color: $white;
  }

  &.-dark {
    border-color: $theme-blue;
    color: $theme-blue;
  }

  &.-link {
    display: block;
    background-color: $link-font-color;
    color: $theme-accent;
    font-size: $font-size-small;
    font-weight: normal;
    font-style: normal;
    line-height: 1.63;
    padding: 10px;
    text-transform: none;
  }
}
