@import '../../../styles/variables';

.c-share {
  width: 100%;
  .share-title {
    text-align: center;
    margin-bottom: 1rem;
  }
  .share-url-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
  }
  .share-input {
    padding: 15px 20px;
    outline: none;
  }
  .share-links {
    list-style-type: none;
    display: flex;
    justify-content: center;

    svg {
      fill: $theme-accent;
    }
  }
  .share-links-item {
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

.share-button {
  position: absolute;
  z-index: 999;
  width: 35px;
  height: 35px;
  display: inline-block;
  background-color: $theme-accent;
  top: rem(288);
  right: rem(72);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    fill: $dark-grey;
  }
}
