<div class="c-playground-detail">
  <div class="row">
    <div class="column small-3 dataset-detail-sidebar">
      <div :class="['sidebar-container', { '-fixed': fixSidebar }]">
        <ul class="sidebar-navigation">
          <li>
            <a
              :class="{ '-active': activeAnchor === 'about' }"
              href="#about"
            >
              About this dataset
            </a>
          </li>
          <li v-if="showCodeExamples">
            <a
              :class="{ '-active': activeAnchor === 'examples' }"
              href="#examples"
            >
              Code examples
            </a>
          </li>
          <li v-if="showCodeExamples">
            <a
              :class="{ '-active': activeAnchor === 'info' }"
              href="#info"
            >
              Additional info
            </a>
          </li>
          <li v-if="!showCodeExamples">
            <a
              :class="{'-active': activeAnchor === 'docs'}"
              href="#docs"
            >
              Docs
            </a>
          </li>
          <li>
            <a
              :class="{'-active': activeAnchor === 'related-datasets'}"
              href="#related-datasets"
            >
              Related datasets
            </a>
          </li>
        </ul>

        <div class="sidebar-links-section">
          <span class="sidebar-links-heading">
            <icon-component name="icon-download" class="-xsmall"></icon-component>
            Download
          </span>
          <ul class="sidebar-links">
            <li>
              <a href="metadata.dataDownloadUrl.csv">.csv</a>
            </li>
            <li>
              <a href="metadata.dataDownloadUrl.json">.json</a>
            </li>
          </ul>
        </div>

        <div class="sidebar-links-section">
           <span class="sidebar-links-heading">
            <icon-component name="icon-external-link" class="-xsmall"></icon-component>
            External Integrations
          </span>
          <ul class="sidebar-links -integrations">
            <li>
              <a href="metadata.dataDownloadUrl.csv">CARTO</a>
            </li>
            <li>
              <a href="metadata.dataDownloadUrl.json">Data.World</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="column small-9">
      <article-component grid-row="row align-center" grid-column="medium-11">
        <section id="about" class="dataset-detail-section">
          <h1 class="dataset-title" v-if="selectedDataset">{{selectedDataset.name}}</h1>
          <p v-if="metadata" class="dataset-description">
            {{metadata.description}}
          </p>

          <h3 class="section-title">About this dataset</h3>
          <div class="row -equal-height">
            <div
              v-for="detail in metadataDetails"
              class="column small-6 medium-4"
            >
              <div class="detail-container">
                <span class="detail-heading">
                  <span v-if="detail.info && isShallow">
                    <icon-component name="icon-info" class="-xsmall"></icon-component>
                  </span>
                  {{detail.heading}}
                </span>
                <p class="detail-value">{{detail.value}}</p>
              </div>
            </div>
          </div>
        </section>

        <section id="examples" class="dataset-detail-section" v-if="showCodeExamples">
          <div class="code-examples-header">
            <h3>Code examples</h3>
            <a class="examples-link">
              <span>
                <icon-component name="icon-book" class="-xsmall"></icon-component>
              </span>
              Learn how to use these data
            </a>
          </div>
          <console-component :selectedDataset="selectedDataset"></console-component>
        </section>

        <section
          id="info" class="dataset-detail-section"
          v-if="showCodeExamples && metadata && Object.keys(metadata.info).length > 0"
        >
          <h3 class="section-title">Additional info</h3>
          <div class="metadata-info-box">
            <pre>
              <code class="json" ref="metadataInfo">{{metadata.info}}</code>
            </pre>
          </div>
        </section>

        <section
          id="docs"
          class="dataset-detail-section"
          v-if="!showCodeExamples"
        >
          <div class="c-button-group -center">
            <button-component
              class="-bordered -big -filled"
              :click="() => void 0"
            >
              Go To Docs
            </button-component>
          </div>
        </section>

        <section
          id="related-datasets"
          class="dataset-detail-section -separator"
        >
          <h3 class="section-title">Related datasets</h3>
          <div class="row -equal-height">
            <div class="column small-6" v-for="dataset in relatedDatasets">
              <div class="related-dataset">
                <h4 class="related-dataset-title">
                  {{dataset.name}}
                </h4>
                <span
                  class="related-dataset-source"
                  v-if="dataset.metadata"
                >
                  {{dataset.metadata.sourceOrganization}}
                </span>
              </div>
            </div>
          </div>
        </section>
      </article-component>
    </div>
  </div>
</div>
