// Import global variables
@import '../../../styles/variables';

.c-playground-detail {

  .dataset-detail-section {
    margin: 0 0 115px 0;
    &:last-child {
      margin: 0;
    }
  }

  .section-title {
    margin-bottom: $medium-margin;
  }

  .dataset-title {
    text-align: left;
  }

  .detail-container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .detail-heading {
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
  }

  .detail-value {
    font-size: 14px;
  }

  .code-examples-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $medium-margin;
  }

  .metadata-info-box {
    background-color: $theme-alternative;
    border-radius: 10px;
    padding: $small-margin;
    font-weight: $font-weight-bold;
    font-size: $font-size-xsmall;
    line-height: 18px;
    overflow: auto;

    pre {
      margin: 0;
      display: flex;
    }

    code {
      margin: 0;
      font-family: Menlo, monospace;
      white-space: pre-wrap;
    }
    .hljs {
      background-color: $theme-alternative;
    }
  }
}
