<div class="c-search">
  <div class="container" v-click-outside="onClickOutside">
    <div class="input">
      <input
        type="search"
        placeholder="Search and filter datasets"
        class="search-input js-search-input"
        v-model.trim="queryState"
        ref="search-input"
        v-on:click="isOpen = true"
      >
      <icon-component :class="['search-icon', '-round', '-xsmall', { '-inverted': isOpen }]" name="icon-chevron-down"></icon-component>
    </div>
    <div v-if="selectedFilters.length > 0" class="c-filters">
      <tag-component v-for="(filter, index) in selectedFilters" icon="close">
        <span>{{filter | capitalize}}</span>
        <button @click="() => clearSelection(filter)">
          <icon-component
            name="icon-close"
            class="search-icon -round -accent -mini"
          ></icon-component>
        </button>
      </tag-component>
      <tag-component filled label="Clear filters">
        <button @click="() => clearSelection()">
          Clear filters
        </button>
      </tag-component>
    </div>
    <div v-if="isOpen" class="c-tabs">
      <tabs>
        <tab name="Data source">
          <checkbox-component :items="filters.dataSources" :initial="selectedFilters" icon="icon-check"></checkbox-component>
        </tab>
        <tab name="Topic">
            <checkbox-component :items="filters.topics" :initial="selectedFilters" icon="icon-check"></checkbox-component>
          </tab>
        <tab name="Temporal range">
          <checkbox-component :items="filters.temporalRanges" :initial="selectedFilters" icon="icon-check"></checkbox-component>
        </tab>
      </tabs>
    </div>
  </div>
</div>


