<div class="c-search">
  <div class="container">
    <div class="input">
      <input
        type="search"
        placeholder="Search for data..."
        class="search-input js-search-input"
        v-model.trim="queryState"
        @keyup.down="navigateDown"
        ref="search-input"
        v-click-outside="onClickOutside"
        v-on:click="isOpen = true"
      >
      <icon-component class="search-icon -round -medium" name="icon-search"></icon-component>
    </div>
    <ul v-if="isOpen && results.length > 0" class="search-results-list" ref="search-results-list">
      <li v-if="loading" class="search-results-item">{{loadingMessage}}</li>
      <li v-else-if="error" class="search-results-item -error">{{errorMessage}}</li>
      <li
        tabindex="-1"
        class="search-results-item -item js-search-results-item"
        v-for="(result, index) in results"
        @click="selectDataset(result)"
        @keyup.enter="selectDataset(result)"
        @keyup.down="navigateDown"
        @keyup.up="navigateUp"
      >
        {{result.name}}
      </li>
    </ul>
  </div>
</div>


