// Import global variables
@import '../../../styles/variables';

.c-search {
  display: flex;
  align-items: center;
  justify-content: space-around;

  .search-bar {
    width: 600px;
    height: 60px;
    padding: 0;
    border-radius: 2px;
    border: 0;
  }
}
