// Import global variables
@import '../../../styles/variables';

.c-spinner {
  position: relative;
  height: 70px;
  width: 70px;
  background: rgba($grayed-black, 0.7);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner-container {
    height: 50px;
    width: 50px;

    .spinner-content {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      border: $theme-base 13px dashed;

      animation-name: spin;
      animation-duration: 4000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
