@import '../../../../styles/variables';

.l-other-visualization {
  height: calc(100vh - 100px);
}

  .legend-list {
    li {
      display: flex;
      align-items: center;
      font-size: $font-size-xsmall;

      .c-switch:after {
        border-color: rgba($grey, 0.7);
      }

      &:first-child {
        .c-switch:checked {
          background-color: $theme-blue;
        }
      }

      &:nth-child(2) {
        .c-switch:checked {
          background-color: $gold-yellow;
        }
      }
      &:nth-child(3) {
        .c-switch:checked {
          background-color: #007fae;
        }
      }
    }
  }
