@import '../../../styles/variables';

// Local Vars
$bubble-cluster-color: $gold-yellow;
$bubble-cluster-font-color: $white;

.l-map {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.c-map {
  z-index: 100;
}

#map {
  width: 100%;
  height: 100%;
}

/*
  Leaflet override
*/
#map.leaflet-container {
  .leaflet-popup {
    .leaflet-popup-content-wrapper {
      border-radius: 0;
    }

    h3 {
      text-align: center;
    }
  }

  .leaflet-control-container {
    .leaflet-left {
      left: auto!important;
      right: rem(72) !important;
    }

    .leaflet-top {
      top: rem(80) !important;
      z-index: 9999999999!important;
    }

    .leaflet-control-zoom-in, .leaflet-control-zoom-out {
      background-color: rgba($white, .2);
    }
  }

  .leaflet-bar {
    border: 0;
    border-radius: 0!important;

    & a {
      border: 1px solid $theme-accent !important;
      border-radius: 0!important;
      color: $theme-blue;
      background-color: transparent;
      font-weight: lighter;
      line-height: rem(31);
      width: 35px;
      height: 35px;

      &:first-child {
        margin-bottom: rem(7);
      }
    }
  }
}

/*
  -- Map markers --
*/
.c-marker-bubble {
  background-color: $gold-yellow;
  border-radius: 100%;
  box-shadow: 0px 0px 0px 6px rgba($gold-yellow, 0.5);
  transition: all .3s ease;

  &:hover {
    box-shadow: 0 0 3px 1px rgba(0,0,0,.15);
    z-index: 1000 !important;
  }

  .marker-bubble-inner {
    display: none;
  }
}

.c-marker-cluster-bubble {
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: $bubble-cluster-font-color !important;
  font-weight: 700!important;
  font-family: $base-font-family;
  font-size: 12px;
  padding: 10px;
  background-color: rgba($bubble-cluster-color, 0.9);
  box-shadow: 0px 0px 0px 8px rgba($bubble-cluster-color, 0.5);
  transition: all .3s ease;

  &:hover {
    box-shadow: 0 0 6px 1px rgba(black, 0.3);
    z-index: 1000 !important;
  }
}
