.l-map {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.c-map {
  z-index: 100;
}

#map {
  width: 100%;
  height: 100%;
}

/* Leaflet override */
.leaflet-popup {
  .leaflet-popup-content-wrapper {
    border-radius: 0;
  }
}
