<div>
<footer class="c-map-footer">
  <button @click="toggleModal">About the Data</button>
  <a href="#">Learn About DATA4SDGS</a>
  <span><a href="https://carto.com/" target="_blank">CARTO</a></span>
</footer>

<modal-component class="-center">
  <div class="row expanded">
    <div class="column small-12 align-middle flex">
      <share-component v-if="modalContent === 'share'"></share-component>
      <div class="about-modal-content" v-else-if="modalContent === 'about'">
        <h3 class="-clean">About the Data</h3>
        <p>
          These two examples were created to test how quickly it
          would be for a designer and software engineer to make a visualisation based on data from
          very different sources. The visualisations are intended to be experiments of the API's
          power, rather than fully fledged visualisations. The data used were:
        </p>
        <ul>
          <li>
            <a @click="goTo('/data-sets/de452a4c-a55c-464d-9037-8c3e9fe48365')">
              World Database on Protected Areas - Protected Areas Surface
            </a>
          </li>
          <li>
            <a @click="goTo('/data-sets/b3059ff9-0054-4343-a7ac-d7a821d222cd')">
            Events or conflicts
            </a>
          </li>
          <li>
            <a @click="goTo('/data-sets/ee2c5877-f212-4eb4-a63a-a82ba7e4e168')">
              Water basins in South Africa
            </a>
          </li>
          <li>
            <a @click="goTo('/data-sets/1c56e5c4-f617-4570-90dd-20724ea674b1')">
              Water Transitions
            </a>
          </li>
          <li>
            <a @click="goTo('/data-sets/bd47397c-b714-4ced-9fe9-d20b0b353e3f')">
              Population in South Africa
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</modal-component>
</div>
