.l-header {
  z-index: 2;

  background-color: $white;
  color: $base-bg-color;

  .header-logo {
    max-width: 260px;
  }

  &.-over {
    z-index: 102;

    .header-logo {
      img {
        max-width: 78%;
      }
    }
  }

  &.-about {
    background-color: $grayed-black;
  }
}
