.l-header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;

  background-color: transparent;
  color: $base-bg-color;

  &.-over {
    z-index: 102;

    .header-logo {
      img {
        max-width: 78%;
      }
    }
  }

  &.-about {
    background-color: $grayed-black;
  }
}
