<div class="c-home">
  <article-component class="about-us">
    <h1>Data4SDGs Developer Playground</h1>
    <h4 class="-center">DATA4SDGS GOALS</h4>

    <div class="row expanded">
      <div class="column small-12 medium-6 large-4 info-column">
        <icon-component class="-round -small -base" name="icon-data"></icon-component>
        <div class="info-column-text">
          <h3>Improve the effective use of data.</h3>
          <p>
            Focus on Lorem ipsum sit amet dolor finius
            est valentius vincius dolorem valentis.
          </p>
        </div>
      </div>

      <div class="column small-12 medium-6 large-4 info-column">
        <icon-component class="-round -small -base" name="icon-group"></icon-component>
        <div class="info-column-text">
          <h3>Increase openness and leverage of existing data.</h3>
          <p>Focus on Lorem ipsum sit amet dolor finius
            est valentius vincius dolorem valentis.</p>
        </div>
      </div>

      <div class="column small-12 medium-6 large-4 info-column">
        <icon-component class="-round -small -base" name="icon-tools"></icon-component>
        <div class="info-column-text">
        <h3>Visualize your Data towards your brand.</h3>
        <p>Focus on Lorem ipsum sit amet dolor finius
          est valentius vincius dolorem valentis.</p>
        </div>
      </div>
    </div>

  </article-component>

  <article-component class="-accent">
    <div class="row">

      <div class="column small-6 medium-8 align-middle">
        <h3 class="-light">Start Collecting, Visualising & Monitoring Data the Right way.</h3>
      </div>

      <div class="c-button-group -center column small-6 medium-4">
        <button-component class="-bordered -big" :click="goToPlayground">Start</button-component>
      </div>

    </div>
  </article-component>

  <article-component class="-alternative -no-padding" grid-row="row expanded" :grid-column="false">

      <div class="column small-12 medium-6 split-view">
        <div class="link-column row">
          <div class="column small-10 large-7 large-offset-1">
            <h1 class="-clean -left">Playbook</h1>
            <p class="-clean">
              Learn how to turn your SDG data into data services and
              make it available to millions of software developers.
            </p>
            <a class="link-column-action">Read Playbook</a>
          </div>
        </div>
      </div>

      <div class="column small-12 medium-6 split-view">
        <div class="link-column row">
          <div class="column small-10 large-7">
            <h1 class="-clean -left">shared, open software</h1>
            <p class="-clean">
              All software used in the making of the developer playground is open source
              and available online. Take a look and if you want, contribute!
            </p>
            <a class="link-column-action">Source Code</a>
          </div>
        </div>
      </div>

  </article-component>

  <article-component>
    <slider-component>
      <div v-for="tweet in twitterSlides">
        <div class="tweet">
          <h4 class="-center -uppercase">What our clients have to say</h4>
          <p class="tweet-message">{{tweet.message}}</p>
          <div class="tweet-user">
            <span class="tweet-user-tag">Twitter user:</span>
            <a class="tweet-username">@{{tweet.user}}</a>
          </div>
        </div>
      </div>
    </slider-component>
  </article-component>

  <article-component class="-complementary">
    <h1>Partnership</h1>
    <h4 class="-light -center -uppercase">
      150+ partners, providing expertise, data, technology,
      science to meet the data needs of the SDGs. Here they are.
    </h4>
  </article-component>
</div>
