<div class="c-home">
  <article-component class="-gradient">
    <h1>Data4SDGs Developer Playground</h1>

    <div class="row align-center">
      <p class="column small-12 medium-9">
        Instantly search, refine and get the code to access SDG
        data for your applications. Code snippets available in all
        major languages.
      </p>
    </div>
  </article-component>

  <article-component split>
    <div slot="left-panel">
      <h1>Playbook</h1>
      <p>Learn how to turn your SDG data into data services and
        make it available to millions of software developers.</p>
    </div>
    <div slot="right-panel">
      <h1>Shared, Open Software</h1>
      <p>All software used in the making of the developer playground is open source
        and available online. Take a look and if you want, contribute!</p>
    </div>
  </article-component>

  <article-component class="-fourth">
    <h1>Partnership</h1>

    <div class="row align-center">
      <p class="column small-12 medium-9">
        150+ partners, providing expertise, data, technology,
        science to meet the data needs of the SDGs. Here they are.
      </p>
    </div>
  </article-component>
</div>
