// Import global variables
@import '../../../styles/variables';

.c-playground {
  background-color: $theme-blue;
  padding-top: rem(80);

  h1 {
    color: $white;
    margin-bottom: 0;
  }

  .data-sets {
    position: relative;
    min-height: 400px;
  }

  .c-article {

    &:last-child {
      padding-top: 0;
    }

    &:first-child {
      padding: $large-margin 0;
    }
  }

  .filters-dropdown {
    float: right;
    z-index: 10;
  }

  .no-datasets {
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: $base-font-family;
  }

  .c-dataset-list {
    padding-top: rem(60);
  }

  .browse-all {
    margin-bottom: rem(60);
  }
}
