// Import global variables
@import '../../../styles/variables';

.c-playground {
  background-color: $theme-blue;
  padding-top: rem(80);

  h1 {
    color: $white;
    margin-bottom: rem(60);
  }

  .data-sets {
    position: relative;
  }

  .c-article {

    &:last-child {
      padding-top: 0;
    }

    &:first-child {
      padding: $large-margin 0;
    }
  }

  .filters-dropdown {
    position: absolute;
    right: 0;
    top: -4px;
  }
}
