<div class="c-playground">
  <article-component grid-column="column small-12 data-sets">
    <div class="row">
      <div class="column small-12 medium-4 medium-offset-4">
        <h2>{{ showRecentDatasets && recentDatasets.length ? 'Recently viewed datasets' : 'Browse Datasets' }}</h2>
      </div>
    </div>
    <dataset-list-component
      v-if="datasets && datasets.length && !loading"
      :datasets="datasets"
    />
    <div v-else-if="!loading" class="no-datasets">
      No datasets for this search or filters
    </div>
    <spinner-component class="-absolute" :loading="searchLoading"></spinner-component>
    <div class="row">
      <div class="column small-12 medium-4 medium-offset-4">
        <button-component
          v-if="showRecentDatasets && recentDatasets.length && !loading"
          class="-bordered -full -white browse-all"
          :click="showAllDatasets"
        >
          Browse all datasets
        </button-component>
      </div>
    </div>
  </article-component>
</div>
