// Import global variables
@import '../../../styles/variables';


.c-slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 200px;
  overflow: hidden;
  flex-direction: column;

  .mint-swipe-item {
    padding: 2rem;
    height: 200px;
    display: none;
    &.is-active {
      display: block;
    }
  }

  .mint-swipe-indicators {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 70px;

    .mint-swipe-indicator {
      width: 10px;
      height: 10px;
      border: 1px solid $grayed-black;
      border-radius: 50%;

      &.is-active {
        background-color: $grayed-black;
      }
    }
  }

}
