@import '../../../../styles/variables';

.c-landing-footer {
  background-color: $theme-alternative;
  padding: 30px 0;
  a {
    color: inherit;
    text-transform: none;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo, svg {
      max-height: rem(70);
    }
  }

  .footer-links {
    color: $white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: $font-size-normal;
    li {
      padding: 0 20px;
      border-right: 1px solid rgba($white, .5);
      a {
        font-size: inherit;
        font-weight: normal;
        &:hover {
          text-decoration: underline;
        }
      }
      &:first-child {
        padding-left: 0;
      }
      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}

