<div class="c-landing-footer">
  <div class="landing-wrapper -footer">
    <div class="footer-info">
      <ul class="footer-links">
        <li><a href="http://www.data4sdgs.org" target="_blank">www.data4sdgs.org</a></li>
        <li><a href="mailto:info@Data4SDGS.org">info@Data4SDGS.org</a></li>
        <li><a href="https://twitter.com/hashtag/data4sdgs" target="_blank">#data4sdgs</a></li>
      </ul>
    </div>
    <a href="/">
      <icon-component name="icon-logo-dark-bg" class="logo"></icon-component>
    </a>
  </div>
</div>
