// Import global variables
@import '../../../styles/variables';

.c-dropdown {
  height: 60px;
  width: 200px;
  position: relative;

  .dropdown-button {
    display: flex;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: left;
    font-weight: $font-weight-bold;
    justify-content: space-around;
    border: 0;
    color: $white;

    &:after {
      position: relative;
      content: '';
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $white;
      margin-left: $small-margin;
      transform: translate(50%, 100%);
    }

    &.-opened {
      background-color: $white;
      color: $dark-grey;

      &:after {
        transform: translate(50%, 100%) rotate(180deg);
        border-top: 5px solid $dark-grey;
      }
    }
  }


  .dropdown-list {
    width: 100%;
    margin-top: 0;
    background-color: $white;
    list-style: none;
    padding: 0;
    z-index: 1;
    border: $border-1;
    box-shadow: $box-shadow-1;

    .dropdown-list-item {
      padding: ($small-margin / 2) $small-margin ;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      font-size: $font-size-xsmall;

      &:hover {
        background: $gold-yellow;
      }
    }
  }

  .c-checkbox-group {
    padding: $small-margin;

    .c-checkbox {

      > label {
        color: $dark-grey;
        font-size: $font-size-xsmall;

        > span {
          width: 16px;
          height: 16px;
          border: 2px solid $gold-yellow;
          border-radius: 2px;

          .c-icon {
            > svg {
              fill: transparent;
            }
          }

          &:after {
            content: none;
          }
        }
      }

      input[type=checkbox]:checked + label {
        font-weight: 700;

        span {
          background-color: $gold-yellow;

          .c-icon {
            > svg {
              fill: $theme-base;
            }
          }
        }
      }

    }
  }
}
