// Import global variables
@import '../../../styles/variables';

.c-dropdown {
  height: 60px;
  width: 200px;

  .dropdown-button {
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .dropdown-list {
    width: 100%;
    margin-top: 0;
    background-color: $medium-grey;
    list-style: none;
    padding: 0;
    border: $border-1;
    box-shadow: $box-shadow-1;

    .dropdown-list-item {
      padding: ($small-margin / 2) $small-margin ;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      font-size: $font-size-xsmall;

      &:hover {
        background: $gold-yellow;
      }
    }
  }
}
