// Import global variables
@import '../../../styles/variables';

.c-icon {
  flex-shrink: 0;
  &.-round {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  &.-xsmall {
    height: 12px;
    width: 12px;
    > svg {
      height: 12px;
      width: 12px;
    }
  }

  &.-small {
    width: 18px;
    height: 18px;
    > svg {
      height: 18px;
      width: 18px;
    }
  }

  &.-medium {
    height: 50px;
    width: 50px;
    > svg {
      height: 35px;
      width: 35px;
    }
  }

  &.-large {
    height: 60px;
    width: 60px;
    > svg {
      height: 60px;
      width: 60px;
    }
  }

  &.-base > svg {
    fill: $theme-base;
    stroke: $theme-base;
  }

  &.-alternative > svg {
    fill: $theme-alternative;
    stroke: $theme-alternative;
  }

  &.-complementary > svg {
    fill: $theme-complementary;
    stroke: $theme-complementary;
  }
}
