// Import global variables
@import '../../../styles/variables';

.c-article {
  padding: $large-margin 0;

  &.-accent {
    background-color: $theme-accent;
    color: $theme-base;
  }

  &.-complementary {
    background-color: $theme-complementary;
    color: #454545;

    .desc {
      max-width: rem(640);
      margin: auto;
    }
  }

  &.twitter-slider {
    color: #454545;
  }

  &.-alternative {
    background-color: $theme-alternative;
    color: $theme-base;
  }

  &.-no-padding {
    padding: 0;
  }

}

