<div class="c-carousel">
  <div class="c-carousel-img" :style="{ 'background-image': 'url(' + currentImage + ')' }"></div>
  <div class="thumbnails">
    <div class="actions">
      <button @click="prevImage" class="prev"></button>
      <button @click="nextImage" class="next"></button>
    </div>
    <div
      v-for="(image, index) in  images"
      :key="index"
      :class="['thumbnail-image', (activeImage == index) ? 'active' : '']"
      :style="{ 'background-image': 'url(' + image + ')' }"
      @click="activateImage(index)"
    >
    </div>
  </div>
</div>
