<section class="c-landing">
  <div class="landing-wrapper">
    <div class="landing-jumbotron">
      <h2 class="jumbotron-title">
        <span>We convene</span>
        <span>We connect</span>
        <span>We catalize</span>
      </h2>
      <h3 class="jumbotron-subtitle">To help end extreme poverty, fight inequality and injustice, and combat climate change.</h3>
    </div>
    <div class="landing-content">
      <h3 class="content-title">The global partnership for sustainable development data</h3>
      <p class="content-text">
        Is an unprecedented, open, multi-stakeholder network working to harness the data revolution for sustainable development.Our 150+ partners are joining forces to galvanize political commitment, align strategic priorities, foster collaboration, spur innovation and build trust in the booming data ecosystems of the 21st century.
      </p>
    </div>
  </div>
</section>
